<!DOCTYPE html>
<html>
<head>
    <title>CreatorStack</title>

    <style>
    body {
        font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0;
    padding: 60px 20px;
    color: #fff;
    background-color: #061326;

    background-image: url("data:image/svg+xml,\
    <svg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'>\
    <polygon points='30,5 90,5 115,30 115,90 90,115 30,115 5,90 5,30' \
    fill='none' stroke='%2300bfff' stroke-width='1'/>\
    </svg>");
    
    background-size: 120px 120px;
    }
</style>

</style>

</head>

<body>
    <div class="container">
        <h1>CreatorStack</h1>
        <p class="subtitle">Turn Ideas Into High-Retention Content</p>

        <form method="POST" onsubmit="handleSubmit()">
            <input type="text" name="topic" placeholder="Video Topic" required>
            <input type="text" name="content_type" placeholder="Content Type (Vlog, Review, Shorts)" required>
            <input type="text" name="platform" placeholder="Platform (YouTube, Instagram)" required>

            <button id="generateBtn" type="submit">
                <span id="btnText">Generate Script</span>
                <span id="spinner" class="spinner"></span>
            </button>
        </form>

        {% if output %}
            <div class="output">
                <h3>Generated Output</h3>
                {{ output }}
            </div>
        {% endif %}

        <div class="footer">
            © 2026 CreatorStack · Turn Ideas Into High-Retention Content <br>
	    Crafted by : Abdul Nabi Shaik
        </div>
    </div>

    <script>
        function handleSubmit() {
            const btn = document.getElementById("generateBtn");
            const spinner = document.getElementById("spinner");
            const btnText = document.getElementById("btnText");

            btn.disabled = true;
            btnText.textContent = "Generating...";
            spinner.style.display = "inline-block";
        }
    </script>
</body>
</html>
